body {
 	color: rgb(20, 20, 20);
 	font-weight: lighter;
 	margin: 50;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 100;
}

h2 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 100;
}

p {
	font-family: 'Noto Serif', serif;
}

#banner {
	display: flex;
	background-size: cover;
	height: 600px;
	text-align: center;
	justify-content: space-around;
}

#banner-content {
	background-repeat: no-repeat;
	padding: 100px;
	background-position:top center;
	background-image: url("./img/banner.jpg");
	text-shadow: 1px 1px 5px black;
	color : white;
}